body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(237, 237, 237);
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 3px;
    max-width: 300px;
    padding: 20px;
    background-color: rgb(35, 2, 2);
    border-radius: 5px;
    box-shadow: 3px 5px 10px red;
    cursor:pointer;
}

.display {
    grid-column: span 4;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #eae8e8;
    border:1px solid green;
    cursor: pointer;
    border-radius: 90%;
}

button:hover {
    background-color: #f2adde;
}
#result{
width: 190px;
}
